[user]
    name = Andrey Trachenko
{{ if (eq .chezmoi.username "atrachenko") }}
    email = atrachenko@nvidia.com
{{ else }}
    email = goodrone@gmail.com
{{ end }}
[push]
    default = current
[alias]
    tree = log --oneline --decorate --all --graph
